* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 120px;
    width: 100vw;
}

a {
    text-decoration: none;
    color: white;
}

#logo-title-date {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 30pt;
    padding-top: 10px;
    padding-left: 20px;
}

#page-logo {
    width: auto;
    height: 5vw;
}

#current-page {
    display: flex;
    padding-top: 10px;
}

.page-title {
    font-size: 2vw;
    text-align: center;
}



#display-time, #display-date {
    text-align: center;
    font-size: 15pt;

    padding-top: 10px;
    padding-right: 30px;
}

nav {
    justify-content: space-around;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 40%;

    padding-top: 5px;
    padding-bottom: 15px;
}

.nav-items {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
}

.navbar li {
    list-style: none;
}

@media (max-width: 644px) {
    header {
        height: 20vw;
        max-width: 100%;
    }
    
    .logo {
        font-size: 5vw;
    }

    #display-time, #display-date {
        text-align: center;
        font-size: 4vw;
    
        padding-top: 10px;
        padding-right: 30px;
    }
}